<!-- <app-work [dataFromParent]="parentData"
[collegues]="collegues"
#child> </app-work>
<div>
<h1>PARENT COMPONENT</h1>
<p>{{child.templateRefCtoPData}}</p>
from childInput in Parent : 
<p>{{child.childInput}}</p>
<button (click)="call()" >child</button>
<p>{{fromChild}}</p> 
</div>
-->
<ul>
    <li>
        <a routerLink="home">home</a>
    </li>
    <li>
        <a routerLink="about" routerLinkActive="active">about</a>
    </li>
    <li>
        <a routerLink="fakedata" routerLinkActive="active">data</a>
    </li>
    <li>
        <a routerLink="users" routerLinkActive="active">users</a>
    </li>
</ul>


<router-outlet></router-outlet>

























